<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>冯诺依曼工作室官网</title>
    <link href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/workroom.css">
</head>
<body>
    <h1>通知：长期招新</h1>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>工作室介绍</h2>
    
    <!--可DIY区：修改工作室的简介和名字-->
    <p>Hey！朋友！</p>
    <p>欢迎来到冯诺依曼工作室！</p>
    <p>这里是由19个不同学校、不同年级的陌生人在编程世界相遇相知相行的故事。</p>
    <p>"学好数理化，走遍天下都不怕"，数学是宇宙中唯一通用的语言，所以我们把工作室命名为数学工作室。</p>
    <p>感谢学而思让我们相识，感谢编程让我们互相帮助前行。</p>
    <p>这里不限想象，并且积极开放，你可以发挥自己的长处，我们一起做出闪亮的作品，特别期待你的到来！！</p>
    <h5>————冯诺依曼工作室</h5>

    
    <h2>成员介绍</h2>
    <div class="row">
        <div class="col-4">
            <img  src="/static/images/photo8.png" class="photo rounded-circle">
            <h4>起啥名字好呢</h4>
            <h4>室长</h4>
        </div>
        <div class="col-4">
            <img src="/static/images/photo5.gif" class="photo rounded-circle">
            <h4>（没来）</h4>
            <h4>副室长</h4>
        </div>
        <div class="col-4">
            <img  src="/static/images/photo6.gif" class="photo rounded-circle">
            <h4>（没来）</h4>
            <h4>副室长</h4>
        </div>
    </div>


    <h2>我的勋章</h2>
    
    <div class = "row">
        <div class="col-4">
            <img src="/static/images/未来星.png" class="photo">
            <h6>捡的</h6>
        </div>
        <div class="col-4">
            <img src="/static/images/金币.png" class="photo">
            <h6>小钱钱</h6>
        </div>
        
        
    </div>
    
    <h2>联系我</h2>
    <h4>泡泡IM:https://im.popoim.com/im/webl 群名：冯诺依曼工作室/冯诺依曼工作室聊天群</h4>
    <!--可DIY区：修改版权归属-->
    <a href="/"><button>返回</button></a>
    <h5 class="banquan">版权归冯诺依曼工作室所有</h5>

</body>
</html>
</body>
</html>